// COLORS
$primary-color: #66FCF1;
$secondary-color: #45A29E;

$white-color: #0B0C10;

$dark-grey: #1F2833;
$light-grey: #C5C6C7;

$dark-blue-text: #ffffff; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
